.hdg {
    letter-spacing: 7.5%;
}

.hdg--1 {
    font-size: 14px;
    margin-bottom: 4px;
    font-family: 'Iceland', cursive;
}

.hdg--2 {
    font-size: 18px;
    font-family: 'Big Shoulders Display', cursive;
}

.hdg--3 {
    font-size: 16px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

.hdg--4 {
    font-size: 26px;
    font-family: 'Big Shoulders Display', cursive;
}

.hdg--5 {
    font-size: 18px;
    font-family: 'Iceland', cursive;
}

.hdg--primary {
    color: $COLOR_PRIMARY;
}

.hdg--white {
    color: $COLOR_WHITE;
}

.hdg--grey {
    color: rgba(255, 255, 255, 50%)
}

.hdg--green {
    color: $COLOR_GREEN;
}